StringCalculator/StringCalculator.Tests/bin/
StringCalculator/StringCalculator.Tests/obj/
StringCalculator/StringCalculator/bin/Newtonsoft.Json.xml
StringCalculator/StringCalculator/bin/
StringCalculator/StringCalculator/obj/
